<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Get Well Soon Messages</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb321005169076110</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>321005169076110</string>
	<key>FacebookDisplayName</key>
	<string>Flutter Get Well Soon</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8179797674906935~6409213334</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>$(PRODUCT_NAME) is using your media library to check and play bundled music in app requires this permission.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) is using your calender in order to schedule notifications &amp; reminders.</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) is using your camera because if you want to make your custom memes with your camera clicked recent photo in device &amp; want to save your creativity.</string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) is using your contacts to allow you to send messages, images, gifs &amp; mems to your contacts.</string>
	<key>NSMotionUsageDescription</key>
	<string>$(PRODUCT_NAME) is using your motion to detect your device is shaked or not for smiplify your sharing job.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) is using your photo library because if you want to make your custom memes with your existing photos in device &amp; want to save your creativity.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>$(PRODUCT_NAME) is using speech recognition to determine which words you speak into the device's Microphone. We'll use it for live transcriptions.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
